@font-face {
  font-family: 'Old-School';
  src: url('./font/ROBO.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  /* font-weight: 700; */
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(rgb(13, 26, 63), rgb(126, 154, 230));
  /*rgb(13, 26, 63); background-image: url('./assets/img/stars_night.jpg');
  background-repeat: no-repeat; */
  color: aliceblue;
  height: 100vh;
  position: relative;
  color: rgb(214, 214, 180);
}

/* Header */
header {
  box-sizing: border-box;
  width: 100vw;
  height: 18vh;
}

/* Nav bar */
nav {
  box-sizing: border-box;
  width: 100vw;
  height: 18vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

nav > div {
  height: 18vh;
  width: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > div > img {
  height: 10vh;
  transition: all 200ms;
}

nav > div > img:hover {
  height: 12vh;
}

/* .pocket_watch {
  max-width: 50%;
  margin: 0;
  margin-right: 0;
} */
.timer {
  margin-top: 20px;
}

.alarm {
  margin-top: 20px;
}
/* .tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
} */

/* .tabContent {
  display: none;
}

#clock {
  display: block;
} */

.tab_clock {
  display: flex;
  justify-content: space-evenly;
}

.card {
  margin: auto;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 15px;
  width: 50vw;
}

.hidden {
  display: none;
}

.numerique_clock {
  font-family: 'Old-School', 'Courier New', Courier, monospace;
  font-size: 8em;
  padding: 20px;
  color: rgb(214, 214, 180);
  margin: 0;

  border-radius: 15px;
  box-shadow: inset 0px 0px 18px 5px #4c4c4c;
  text-shadow: -3px -8px 4px black;
}
/* .tab_title {
  font-family: 'Old-School', 'Courier New', Courier, monospace;
  font-size: 5em;
  margin: 0;
  color: aliceblue;
  text-shadow: -3px -8px 4px black;
} */

/***!SECTION GUSSET CLOCK */
.clock_svg {
  position: absolute;
  margin-top: 0;
}
.filler {
  position: relative;
  bottom: 50%;
  top: 0;
  left: 0;
  right: 0;
}
/*Computer Screen*/
@media screen and (max-width: 1250px) {
  .numerique_clock {
    font-size: 5rem;
  }
}
/*Tablette Screen*/
@media screen and (max-width: 800px) {
  .numerique_clock {
    font-size: 3rem;
  }
}
/*Mobile Screen*/
@media screen and (max-width: 449px) {
  .numerique_clock {
    font-size: 2rem;
  }
}

/* @media (orientation: portrait) {
  .card {
    width: 95vw;
    height: 95vw;
  }
  #clockDisplay {
    font-size: 5vh;
    height: 5vh;
    width: 60%;
    bottom: 15vh;
    left: 50%;
    translate: -50%;
    z-index: 3;
  }
  #clock {
    box-shadow: inset 0 0 50px 75px #1b1b1b;
  }
} */
/* @media (orientation: portrait) {
  body {
    height: 100svh;
  }
  nav > span > img {
    height: 15vw;
  }
  nav > span > img:hover {
    height: 22vw;
  }
  #navBarre {
    width: 15vw;
    left: 5vw;
  }
  .iconActive {
    height: 22vw;
  }
  main {
    height: 70vh;
  }
  footer {
    font-size: 0.9em;
    width: 80%;
  }
} */
