@font-face {
  font-family: 'Robo Clock';
  src: url('../font/ROBO.ttf') format('truetype');
}
@font-face {
  font-family: 'Robot Text';
  src: url('../font/conthrax-sb.otf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Robot Text', 'Courier New', Courier, monospace;
  text-align: center;
  background: linear-gradient(rgb(13, 26, 63), rgb(126, 154, 230));
  /* color: aliceblue; */
  min-height: 100vh;
  /* margin-bottom: 2rem; */
  overflow-x: hidden;
  position: relative;
  color: rgb(226, 226, 163);
  text-shadow: -1px -1px 3px black;
}

/* Header */
header {
  box-sizing: border-box;
  width: 100vw;
  height: 18vh;
}

/* Nav bar */
nav {
  box-sizing: border-box;
  width: 100vw;
  height: 18vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

nav > div {
  height: 18vh;
  width: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > div > img {
  height: 10vh;
  transition: all 200ms;
}

nav > div > img:hover {
  height: 12vh;
}

.timer {
  margin-top: 20px;
}

.alarm {
  margin-top: 20px;
}

.card {
  margin: auto;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid black;
  width: 70vw;
  min-height: 450px;
  box-shadow: 0px 0px 10px 4px #0000008a;
}

.hidden {
  display: none;
}

.numerique_clock {
  font-family: 'Robo Clock', 'Courier New', Courier, monospace;
  font-size: 8em;
  padding: 20px;
  /* color: rgb(214, 214, 180); */
  margin: 0;

  border-radius: 15px;
  box-shadow: inset 0px 0px 18px 5px #4c4c4c;
  text-shadow: -3px -5px 4px black;
}

.title {
  font-size: 4rem;
}
.container_weather {
  margin-top: 2rem;
}
.container_title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input[type='text'] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.weather_info {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  flex-wrap: wrap;
}
#location {
  font-size: 3rem;
}
/* .weather_info {
  display: flex;
} */
#temperature {
  font-size: 3rem;
}
.p_humidity {
  font-size: 1.5rem;
}
#humidity {
  font-size: 3rem;
}
#description {
  font-size: 3rem;
}
.weather_icon {
  width: 8rem;
  margin: auto;
}

/*Computer Screen*/
@media screen and (max-width: 1250px) {
  .numerique_clock {
    font-size: 5rem;
  }
  .title {
    font-size: 3rem;
  }
  .weather_info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    flex-wrap: wrap;
  }
  #location {
    font-size: 2rem;
    text-wrap: wrap;
  }
}
/*Tablette Screen*/
@media screen and (max-width: 800px) {
  .numerique_clock {
    font-size: 3rem;
  }
  .title {
    font-size: 2rem;
  }
}
/*Mobile Screen*/
@media screen and (max-width: 449px) {
  .numerique_clock {
    font-size: 2rem;
  }
  .title {
    font-size: 2rem;
  }
}
